* {
    margin: o;
    padding:0;
}
h1 {
    font-size : 3em;

    
}
aside {
    padding:15px 10px;
   flex-grow:1;
    min-width: 250px;
    background: #724e2c;
    min-height: 100vh;
}
main {
    padding:15px 10px;
   flex-grow: 3;
    background:#C4A484;
    min-height:100vh;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    background:#333
}
.wrapper {
    display: flex;
}
.wrapper p {
   margin-left:auto;
   margin-right:auto;
   font-size:1.6em;
 
}
.topnav {
    flex-grow: 4;
  background: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background:blue;
}
.topnav {

  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #04AA6D;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
<<<<<<< HEAD
/* Add a color to the Botton */
.Botton {
color: white;
=======
.centered {
    text-align:center;
}
.txt-white {
    color:white;
>>>>>>> 9070b5dec101d7482e9552b8ca00e2733a2053fc
}